.container-header {
  background-color: #f5f5f5 !important;
  position: sticky !important;
  z-index:10 !important;
  top:0px !important;
  // top:0px;
  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 50px;
    }
    p {
      color: #b0d7d2;
      font-weight: 700;
      letter-spacing:2px;
    }
  }
}
